@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: nf-icon;
    font-style: normal;
    font-weight: 400;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.eot);
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.eot?#iefix) format("embedded-opentype"),url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.woff) format("woff"),url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.ttf) format("truetype"),url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.svg#nf-icon-v1-93) format("svg")
}
[class*=" icon-"],[class^=icon-] {
    speak: none;
    font-family: nf-icon;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
    transform: translateZ(0)
}
body, html {
    background-color: black;
    top:0;
    height: 100%;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif
}
body{
    margin:0;
  
}
@media only screen and (min-width: 740px){
.login-body::after {
   
    content: "";
    display: block;
    height: 236px;
}
}

.hybrid-login-form .hybrid-login-form-help {
    display: flex
}
.hybrid-login-form .login-remember-me {
    flex-grow: 1;
    padding-left: 20px
}

.hybrid-login-form .login-remember-me input[type=checkbox]+label {
    padding: 0
}


.hybrid-login-form .login-remember-me input[type=checkbox]:active+label::before,.hybrid-login-form .login-remember-me input[type=checkbox]:focus+label::before {
    background: #e6e6e6;
    box-shadow: none
}
.hybrid-login-form .login-remember-me input[type=checkbox]+label::before {
    background: #737373;
    border: 0;
    border-radius: 2px;
    height: 16px;
    left: -20px;
    width: 16px;
}

.login-remember-me input[type=checkbox]:checked+label:after {
    color: #000;
    font-size: 18px;
    left: -21px;
    top: 0
}

.hybrid-login-form .login-help-link,.hybrid-login-form .login-remember-me-label-text {
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 400
}

.hybrid-login-form .login-help-link {
    cursor: pointer;
    flex: 0 0 1;
    padding-top: 2px
}

.hybrid-login-form .hybrid-login-form-other {
    flex: 0 0 1
}

.hybrid-login-form .login-form {
    margin-bottom: 0
}
.ui-label{
    clip: rect(0 0 0 0);
    border: 0;
    display: block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

}
.select-arrow.prefix::before {
    color: #999;
    top: 14px;
    content: "\e896";
    font-family:'nf-icon';
    pointer-events: none;
    position:absolute;
    left: 15px;
    font-size: 16px;


}
.login.select-arrow.prefix::before {
    color: #999;
    top: 14px;
    content: "\e896";
    font-family:'nf-icon';
    pointer-events: none;
    position:absolute;
    left: 15px;
    font-size: 16px;


}
.ui-select-wrapper:after {
    color: #000;
    content: "\e898";
    font-family: nf-icon;
    font-size: 6px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 17px;
}

.ui-select-wrapper .select-arrow.medium::after {
    right: 10px;
    top: 18px;
    color: #999;
}
.ui-select-wrapper .select-arrow::after {
    color: #000;
    content: "\e898";
    font-family: nf-icon;
    font-size: 6px;
    pointer-events: none;
    position: absolute;
}
 .nfTextField:focus {
    background: #454545;
}
.hybrid-login-form .hasText.placeLabel, .hybrid-login-form .nfTextField:focus+.placeLabel {
    top: 4px;
}
.placeLabel {
    color: #8c8c8c;
    font-size: 14px;
    left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: font .1s ease,top .1s ease,transform .1s ease;
}

.hasText.placeLabel,.nfTextField:focus+.placeLabel {
    font-size: 11px;
    top: 4px;
    transform: translateY(0)
}
.loginControls.error{
    border-bottom: 2px solid #e87c03;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


 .placeLabeltext {
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
    transform: translateY(-50%);
    transition: font .1s ease,top .1s ease,transform .1s ease;
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-duration: 250ms;
    pointer-events: none;
    left: 1rem;
    right: 1rem;
    top: 1.5rem;
}

.textField {
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 16px;
    padding: 1.25rem 1rem 0.25rem;
    width: 100%;
    min-height: 16px;
    min-width: 16px;
}

.textField:focus {
    border-color: #0071eb;
    outline: none;
}
.textField:focus + .placeLabeltext,
.placeLabeltext.hasText {
    font-size: 13px;
    font-weight: 500;
    top: 6px;
  transform: translateY(0);
}
 .error>.textField, .textField.error {
    border-color: #b92d2b;
}
.caret{
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    height: 0;
    margin-left: 10px;
    transition: transform 367ms cubic-bezier(.21,0,.07,1);
    width: 0;
}
.caret.open {
    transform: rotate(180deg);
}
.sub-menu{
    margin-left: 0;
    padding: 0;
    right: 0;
    width: 220px;
    background-color: rgba(0,0,0,.9);
    border: 1px solid hsla(0,0%,100%,.15);
    box-sizing: border-box;
    color: #fff;
    cursor: default;
    font-size: 13px;
    line-height: 21px;
    width: 220px;;
    position: absolute;
    top: 32px;
}
.pagination-indicator {
    display: none;
    list-style-type: none;
    margin: -24px 0 12px;
    padding: 0;
    position: absolute;
    right: 4%;
    top: 0;
}
.slider:hover .pagination-indicator {
    display: block;
}
